{% extends "blog/base.html" %}
{% load static %}
{%  block content %}
{% for recette in recettes %}
    <article>
    <header>
    <img class="imgRecette" src="{% static 'blog/'%}{{ recette.photo }}" width="300px" height="242px" alt=
    "{{ recette.titre }}" />
    <a href= "{% url 'recette' recette.id %}" >
    <h1 class="titreRecette">
    {{ recette.titre }} 
    </h1>
    </a>
    <time>
    {{ recette.date_parution }} 
    </time>
    </header>
    <p>
    {{ recette.description }} 
    </p>
    </article>
{% endfor %}
{% endblock %}