{% extends "blog/base.html" %}
{% load static %}
{%  block content %}
 <article>
 <header>
 <img class="imgRecette" src="{% static 'blog/' %}{{ recette.photo }}" alt="{{ recette.titre }}" />
 <h1 class="titreRecette">
    {{ recette.nom }}  
 </h1>
 <span class="fa fa-star checked"></span>
 <span class="fa fa-star checked"></span>
 <span class="fa fa-star checked"></span>
 <span class="fa fa-star checked"></span>
 <span class="fa fa-star"></span>
 </br>
 <time>
    {{ recette.date_parution }} 
 </time>
 </header>
 <p>
 {{ recette.description }} 
 </p>
 </article>
 <hr /> 
 <header>
 <h2 id="titreIngredient">
 Ingrédients 
 </h2>
 <ul>
    {% for ingredient in list_ingredients %}
    <li>{{ ingredient.quantite }} {{ ingredient.unit }} de {{ ingredient.nom }}</li>
    {% endfor %}
 </ul>
</header>
<h2 id="titreCommentaire">
Commentaires 
</h2>
<div class="divCommentaire"> 
    {% for commentaire in list_commentaires%}
<p>{{ commentaire.auteur }} : {{ commentaire.contenu }} </p>
<p> Note : {{ commentaire.note }}/5 </p>
<p>
{{ commentaire.dateCreation }}
</p>
<hr>
    {% endfor %}
</div> 
<form method="post" action="recette/idRecette" >
<input id="auteur" name="auteur" type="text" placeholder="Votre nom *" class="inputChamp" /
><br />
<textarea id="txtCommentaire" name="contenu" rows="4" placeholder="Votre commentaire *" cla
ss="inputTextArea" ></textarea><br/>
<label for="note">Note</label><br />
<select name="note" id="note" class="select">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
</select>
<br />
<input type="submit" value="Commenter" class="submitBtn" />
</form>
<div id="erreur">
<p> Erreurs </p>
</div> 
</div>
{% endblock %}